* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.coverimage {
  background-image: url(/images/hero-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
}
.navigation .brandname {
  font-size: 20px;
  color: white;
  font-family: "Montserrat";
  margin-left: 200px;
  margin-top: 10px;
  position: absolute;
}
.navigation #nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  text-align: left;
  color: white;
  padding-right: 0px;
}
.narration {
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-top: 300px;
}
.narration h1 {
  font-size: 50px;
  color: white;
}
.narration p {
  color: white;
  font-size: 20px;
  padding-top: 20px;
}
.narration p #scale {
  margin-left: 12%;
}
.buttons {
  padding-top: 30px;
  display: inline-block;
}
.buttons #btn1 {
  background-color: blue;
  padding: 15px 32px;
  border: none;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  margin-right: 20px;
}
