* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.coverimage {
  background-image: url("images/hero-cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.navigation .brandname {
  font-size: 20px;
  color: white;
  font-family: "Montserrat";
  margin-left: 200px;
  margin-top: 10px;
}
.navigation #nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  text-align: left;
  color: white;
  padding-right: 0px;
}
.narration {
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-top: 300px;
}
.narration h1 {
  font-size: 50px;
  color: white;
}
.narration p {
  color: white;
  font-size: 20px;
  padding-top: 20px;
}
.narration p #scale {
  margin-left: 12%;
}
.buttons {
  padding-top: 30px;
  display: inline-block;
}
.buttons #btn1 {
  background-color: #23a6f0;
  padding: 15px 32px;
  border: none;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  margin-right: 20px;
  color: white;
}
.buttons #btn2 {
  border: 1px solid white;
  background-color: transparent;
  padding: 15px 32px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  margin-right: 20px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
.advert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
}
.advert .peace {
  width: 25%;
  background-color: white;
  justify-content: left;
  height: 40vh;
  box-shadow: 2px 2px 5px grey;
  margin-right: 10px;
  margin-left: 60px;
  padding-left: 20px;
  padding-top: 30px;
}
.advert .set {
  width: 25%;
  background-color: white;
  justify-content: left;
  height: 40vh;
  box-shadow: 2px 2px 5px grey;
  margin-right: 10px;
  margin-left: 30px;
  padding-left: 20px;
  padding-top: 30px;
}
.advert .sat {
  width: 25%;
  background-color: #23a6f0;
  justify-content: left;
  height: 40vh;
  box-shadow: 2px 2px 10px grey;
  margin-right: 30px;
  margin-left: 30px;
  padding-left: 20px;
  padding-top: 30px;
  color: white;
}
.seg2 {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
}
.mind i,
.life i,
.faction i {
  color: #23a6f0;
  font-size: 50px;
}
.mind,
.life,
.faction {
  margin: 50px 20px;
  text-align: center;
}
.seg2 > div > p {
  color: rgb(109, 108, 108);
  padding-top: 10px;
  font-size: 18px;
}
.seg3 {
  justify-content: center;
  align-items: center;
  height: 60%;
}
.seg3 .industry {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}
.seg3 p {
  padding-top: 20px;
  justify-content: center;
  color: grey;
}
.team {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-right: 80px;
  margin-left: 80px;
}
.team .user1 {
  height: 300px;
  border: 2px grey solid;
  width: 20%;
  margin-left: 50px;
  border-radius: 3%;
}
.userimage {
  height: 100px;
  align-items: center;
  padding-top: 20px;
}
.team .user2 {
  height: 300px;
  border: 2px grey solid;
  width: 20%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3%;
}
.team .user3 {
  height: 300px;
  border: 2px grey solid;
  width: 20%;
  margin-right: 50px;
  border-radius: 3%;
}
.star {
  color: yellow;
  font-size: x-large;
}
.user1,
.user2,
.user3,
p {
  padding-bottom: 45px;
}
.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 100px;
}
.logos .logo {
  height: 80px;
  width: 80px;
  margin: 1px;
}
.subscribe {
  display: flex;
  width: 200;
  height: 80px;
  background-image: linear-gradient(to right, #033d5e, rgb(177, 12, 168));
}
.subscribe h3 {
  color: white;
  margin-top: 20px;
  margin-left: 80px;
}
.subscribe .subtn {
  margin-left: 0px;
  float: right;
  height: 40px;
  margin-top: 20px;
  background-color: #23a6f0;
  border: 1px white;
  padding: 10px;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.subscribe .subtn1 {
  margin-left: 750px;
  float: right;
  height: 40px;
  margin-top: 20px;
  border: none;
}
.pricing {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  margin-top: 80px;
}
.prices {
  display: flex;
  margin-left: 25%;
}
.free {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 25%;
  border: 1px solid #23a6f0;
  line-height: 2;
  padding-top: 50px;
  border-radius: 10px;
}
.free .fas {
  line-height: 2;
  color: green;
  justify-content: center;
  text-align: center;
}
.free .freeb {
  background-color: #23a6f0;
  justify-items: center;
  padding: 10px;
  width: 150px;
  margin-left: 50px;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
}
.branches {
  height: 600px;
  background-color: #252b42;
  margin-top: 80px;
}
.branches,
#allover,
#born {
  color: white;
  padding: 30px;
  justify-content: left;
  text-align: left;
  font-family: sans-serif;
}
.branches .globe {
  height: 150px;
  width: 350px;
  float: right;
  margin-right: 130px;
  margin-top: -200px;
}
.appointment {
  display: flex;
  flex-direction: row;
  height: 450px;
  align-items: center;
  margin-top: -250px;
}
.appointment form {
  text-align: left;
  align-items: left;
  width: 30%;
  border: none;
  height: 400px;
  background-color: white;
}
.appointment img {
  height: 400px;
  margin-left: 400px;
}
legend {
  text-align: center;
  font-size: larger;
  font-family: sans-serif;
  font-weight: 700;
}
.schedule {
  background-color: #23a6f0;
  color: white;
  padding: 10px;
  margin-left: 100px;
  border-radius: 10px;
  width: 250px;
  border: none;
  font-family: sans-serif;
}
label {
  font-weight: bold;
  margin-left: 1px;
}
.consulting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}
.consult #biz {
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
}
#quick {
  color: grey;
}
.contactusbtn {
  background-color: #23a6f0;
  padding: 15px 32px;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  height: 50px;
}
.seg6 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  font-family: sans-serif;
}
.seg6 strong {
  font-size: 20px;
}
.seg6 p {
  color: grey;
}
.seg6 i {
  color: #23a6f0;
  font-size: 20px;
}
.get span {
  color: grey;
}
.end {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(239, 240, 241);
}
.socials i {
  color: #23a6f0;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
}
.designer {
  margin-top: 30px;
  color: grey;
}
.prices h2 {
  color: #23a6f0;
}
